#bg {
    background-color:#EBEEF3;
    height:342px;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    z-index: 1;
}

#top {
    background-color: #3A5A97;
    width:100%;
    height:42px;
    z-index: 3;
}

#fb {
    color:#FFFFFF;
    font-size:26px;
    font-weight:bold;
    position:absolute;
    left:122px;
    top:-18px;
    z-index:4;
}

#ie {
    margin-top: 18px;
    width:94%;
    height:42px;
    border:1px solid #CCD0D3;
    border-radius: 6px 6px 0px 0px;
}

#ip {
    width:94%;
    height:42px;
    margin-top:-0.96px;
    border:1px solid #CCD0D3;
    border-radius: 0px 0px 6px 6px;
}

#sb {
    background-color: #4E6597;
    width:94%;
    height:38px;
    margin-top:16px;
    border:.8px solid #5c6bc0;
    border-radius:3.4px;
    color:#FFFFFF;
    font-weight:bold;
}

#hr1 {
    width:36%;
    margin-top:-24px;
    margin-left:22px;
}

#hr2 {
    width:36%;
    margin-top:-26px;
    margin-right:22px;
}

#or {
    margin-top:-18px;
}

#cna {
    width:48%;
    height:36px;
    background-color:#508C34;
    margin-top:7.4px;
    border:0px solid;
    color:#FFFFFF;
    border-radius: 4px;
    font-weight:bold;
    text-shadow:-0.8px -0.8px #000000;
}

#fgp {
    color:#86A1C5;
    margin-left:-68px;
    font-size:12px;
}

#dt {
    margin-top:-36px;
    margin-left:50.6px;
}

#hc {
    color:#86A1C5;
    margin-top:-28.8px;
    font-size:12px;
    margin-left:122px;
}