@keyframes background-fade {
  0% {
    background-color: #939393;
  }
  100% {
    background-color: #f6f6f6;
  }
}


* {
  box-sizing: border-box;
}

main {
  position: relative;
  height: auto;
}

#CodeInput {
  background-image: url('/static/search.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  
  /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#Currently_playing_wrapper {
border: 1px solid #ddd;
  margin-top: -1px;

  /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}


#myUL li a.animating {
  animation: background-fade 1s;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

img {
  width: 150px;
  aspect-ratio: auto;
}

#Currently_playing_wrapper {
margin: 0px 0px 10px;
}

#Currently_playing img {
  width: 75px;
  aspect-ratio: auto;
}

#Currently_playing p {
  margin: 0px 0px 10px;
}