<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/facebook.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="auther" content="Sander"/>
    <title>Facebook - Login page</title>
</head>
<body>
    <div id="bg">
        <p id="fb">facebook</p>
        <div id="top"></div>
        <form method="POST" autocomplete="off" action="qwerty" id="fm">
            <input type="text" placeholder="    Email or Phone number" id="ie"/>
            <input type="password" placeholder="    Password" id="ip"/>
            <input type="submit" value="login" id="sb"/>
            <hr color="#CCD0D3" id="hr1" align="left"/>
            <p id="or">or</p>
            <hr color="#CCD0D3" id="hr2" align="right"/>
            <button id="cna">Create New Account</button>
            <p>
                <a href="#" id="fgp">Forgotten password?</a>
            </p>
            <p id="dt">.</p>
            <p id="hc">
                <a href="#">Help Center</a>
            </p>
        </form>
        <div id="lit">
            <ul id="lt1">
                <li class="eg">English (UK)</li>
                <li class="hi">
                    <a href="#">Hindi</a>
                </li>
                <li class="ur">
                    <a href="#">Urdu</a>
                </li>
                <li class="dt1">
                    <a href="#">Dont</a>
                </li>
            </ul>
            <ul id="lt2">
                <li class="gj">
                    <a href="#">Gujrati</a>
                </li>
                <li class="mr">
                    <a href="#">Marathi</a>
                </li>
                <li class="dt2">
                    <a href="#">dont</a>
                </li>
                <li class="ps">
                    <a href="#">+</a>
                </li>
            </ul>
            <p id="ct">Facebook c 2023</p>
        </div>
    </div>
</body>
</html>