<!doctype html>
<html>
    <head>
        <title>Login - studentsander.nl</title>
        <meta name="description" content="my login page">
        <meta name="keywords" content="login">
        <meta charset="UTF-8">
    </head>
    <body>
    <div>
    <form action="" method="POST">
        <label>Email/Username:</label>
        <input name="email" type="email" placeholder="example@domain.com" required><br><br>
        <label>Password:</label>
        <input name="password" type="password" placeholder="type your password" required><br><br>
        <input type="submit" value="login" name="login"><br><br>
    </form>
    </div>
    <div>
        <form action="/register">
            <label>Create Account</label>
            <input value="register" type="submit" name="register">
        </form>
    </div>
    </body>
</html>