{% extends "base_MAIL.html" %}

{% block content %}
    <h1>{% block title %} Welkom to FlaskShortner {% endblock %}</h1>
    <form method="post">
    <div class="form-group">
        <label for="mail_address">Mail Address:</label>
        <input type="text" name="mail_address"
            placeholder="mail address to track" class="form-control"
            value="{{request.form['mail_address'] }}" autofocus>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>

    {% if display_image %}
    <hr>
    <h1>track image: <a href="{{display_image}}">{{display_image}}</a><br></h1>
        <h1>view click information: <a href="{{display_view_mail_status}}">{{display_view_mail_status}}</a></h1>
    {% endif %}
{% endblock %}
