<!doctype html>
<html>
    <head>
        <title>Profile - studentsander.nl</title>
        <meta name="description" content="your profile page">
        <meta name="keywords" content="profile">
        <meta charset="UTF-8">
    </head>
    <body>
    <div>
        <h1>Welkom to you're profile: {{name}}</h1>
        <h1>You're email is: {{email}}</h1>
        <button onclick="window.location = 'https://studentsander.nl/drop_session'" type="submit" value="logout">Logout</button><br>
        <button onclick="window.location = 'https://studentsander.nl/url'" type="submit" value="url">Url tracker</button><br>
        <button onclick="window.location = 'https://studentsander.nl/mail'" type="submit" value="mail">Mail tracker</button><br>
        <button onclick="window.location = 'https://studentsander.nl/overview'" type="submit" value="overview">Track overview</button><br>
        <
    </div>
    </body>
</html>