{% extends "base_URL.html" %}

{% block content %}
    <h1>{% block title %} Welkom to FlaskShortner {% endblock %}</h1>
    <form method="post">
    <div class="form-group">
        <label for="url">URL:</label>
        <input type="text" name="url"
            placeholder="URL to shorten" class="form-control"
            value="{{ request.form['url'] }}" autofocus>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>

    {% if display_track_url %}
    <hr>
    <h1>shortend link: <a href="{{display_track_url}}">{{display_track_url}}</a><br></h1>
    <h1>view click information: <a href="{{display_view_url}}">{{display_view_url}}</a></h1>
    {% endif %}
{% endblock %}
