<!DOCTYPE html>
<html lang="en">
<head>
    <title>Video Selector</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="my registration page">
    <meta name="keywords" content="register">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
    </script>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
</head>
<body>
<script type="text/javascript" src="/static/scripts.js"></script>
</body>
</html>