<!DOCTYPE html>
<html lang="en">
<head>
    <title>Video Selector</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="my registration page">
    <meta name="keywords" content="register">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
    </script>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
</head>
<body>
<script>
    $.getJSON($SCRIPT_ROOT + '/_get_list',
  		function(data) {
  		    var array = data.vuurwerk_info;

            var div=document.createElement('div');
            div.setAttribute('id','screen');

            var input = document.createElement('input');
            input.setAttribute('type', 'text');
            input.setAttribute('id', 'CodeInput');
            input.setAttribute('onkeyup', 'myFunction()');
            input.setAttribute('placeholder', 'Zoek op naam of nummer');
            input.setAttribute('title', 'Type een code');
            div.appendChild(input)

            var ul=document.createElement('ul');
            ul.setAttribute('id', 'myUL')


            document.body.appendChild(div);
            div.appendChild(ul);

            for (var i=0; i<array.length; i++){

                var li=document.createElement('li');
                ul.appendChild(li);

                var a=document.createElement('a');
                li.appendChild(a);
                var img=document.createElement('img');
                a.appendChild(img)
                img.src = array[i][2]
                a.href = "javascript:sendCode(" + array[i][0] + ");";
                a.innerHTML = a.innerHTML + array[i][0] + " - " + array[i][1]
            }
  		});
</script>
<script>
        function myFunction() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("CodeInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>
    <script>
        function sendCode(sCode) {
          var request = new XMLHttpRequest();
          request.open("POST", "/send_code");

          request.setRequestHeader('Content-type', 'application/json');

          var params = {
            code: sCode
          }

          request.send(JSON.stringify(params));
        }
      </script>
</body>
</html>